<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:nl="http://typo3.org/ns/WapplerSystems/Newslayouts/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="https://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
    <!-- header -->
    <div class="header">
        <nl:tag name="h{headingType}">
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" additionalAttributes="{itemprop:'url'}">
                <span itemprop="headline">{newsItem.title}</span>
            </n:link>
        </nl:tag>
    </div>


    <f:if condition="{settings.imageFormat} != ''">

        <f:variable name="cropVariant" value="{f:if(condition: '{settings.imageFormat} == \'default\'',then:'1-1',else:settings.imageFormat)}"/>

        <f:if condition="{newsItem.mediaPreviews}">
            <f:then>
                <f:render partial="PreviewImage" arguments="{newsItem:newsItem, settings:settings, maxHeight:settings.media.maxHeight, maxWidth:settings.media.maxWidth, lazyLoading:settings.list.media.image.lazyLoading, cropVariant:cropVariant, class:'{settings.imageClass}' }"/>
            </f:then>
            <f:else>
                <f:render partial="DummyImage" arguments="{newsItem:newsItem, settings:settings, maxHeight:settings.media.maxHeight, maxWidth:settings.media.maxWidth, lazyLoading:settings.list.media.image.lazyLoading, cropVariant:cropVariant, class:'{settings.imageClass}' }"/>
            </f:else>
        </f:if>

    </f:if>

    <div class="teaser-text">
        <f:render partial="Teaser" arguments="{_all}"/>

        <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
            <f:translate key="more-link"/>
        </n:link>
    </div>


    <f:if condition="{settings.meta.showDate} && {settings.meta.showCategory} != 'none' && {settings.meta.showTags} && {settings.meta.showAuthor}">
        <div class="footer">
            <f:render partial="Meta" arguments="{settings:settings, newsItem:newsItem}"/>
        </div>
    </f:if>


</div>
</html>
