<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      xmlns:nl="http://typo3.org/ns/WapplerSystems/Newslayouts/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail"/>

<f:section name="content">
    <f:if condition="{newsItem}">
        <f:then>

            <f:if condition="{settings.allowLayoutOverwriteByRecord} && {newsItem.layout} != ''">
                <f:then>

                    <f:if condition="{nl:partialExists(partial: 'Detail/{newsItem.layout}')}">
                        <f:then>
                            <f:render partial="Detail/{newsItem.layout}" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <div class="alert alert-info">Partial Detail/{newsItem.layout} not found</div>
                        </f:else>
                    </f:if>

                </f:then>
                <f:else>

                    <f:if condition="{nl:partialExists(partial: 'Detail/{settings.templateLayout}')}">
                        <f:then>
                            <f:render partial="Detail/{settings.templateLayout}" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <div class="alert alert-info">Partial Detail/{settings.templateLayout} not found</div>
                        </f:else>
                    </f:if>

                </f:else>
            </f:if>

        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>
</html>
