

.news-card {
    --bs-card-cap-bg: transparent;
}

.news-meta {
    color: var(--bs-secondary-color);

    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    column-gap: 1rem;
}

.news-card a {
    text-decoration: none;
}


.news-gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
