<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:if condition="{settings.hidePagination}">
    <f:then>
        <div class="row gy-5">
            <f:for each="{news}" as="newsItem" iteration="iterator">
                <div class="col-12 col-sm-6 col-lg-3">
                    <f:render partial="Layouts/List/Item/Card" arguments="{newsItem:newsItem,settings:settings,iterator:iterator,headingType:settings.list.headingType,dummyImage:contentObjectData.dummyImage}"/>
                </div>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{settings.list.paginate.insertAbove}">
            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator:pagination.paginator}"/>
        </f:if>
        <div class="row gy-5">
            <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                <div class="col-12 col-sm-6 col-lg-3">
                    <f:render partial="Layouts/List/Item/Card" arguments="{newsItem:newsItem,settings:settings,iterator:iterator,headingType:settings.list.headingType,dummyImage:contentObjectData.dummyImage}"/>
                </div>
            </f:for>
        </div>
        <f:if condition="{settings.list.paginate.insertBelow}">
            <f:render partial="List/Pagination" arguments="{pagination:pagination.pagination, paginator:pagination.paginator}"/>
        </f:if>
    </f:else>
</f:if>


</html>
